.cardProject {
    width: 90%; /* Ocupa el 90% del contenedor */
    max-width: 800px; /* Ancho máximo */
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .projectName {
    margin: 0 0 10px;
  }
  
  .projectImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .projectDescription {
    margin: 0;
    text-align: center;
  }