
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #050505;
  scroll-behavior: smooth;
}

html, body {
  
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden; 
  overflow-y: auto; 
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* Fondo con gradientes */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle 800px at 50% -100%, #1a1a1a, transparent);
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: 
      linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 32px 32px;
  z-index: -1;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 14px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Fondo de la pista */
}

::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90); /* Color del pulgar */
  border-radius: 6px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 75, 75); /* Color del pulgar al pasar el mouse */
}

#loader {
  position:fixed;
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}